.button-input {
  width: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el modal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
  background-color: var(--white);
  padding: var(--spacing-8);
  border-radius: var(--rounded-2xl);
  max-width: var(--width-lg);
  position: relative;
  margin-inline: var(--spacing-8);
}

.title-modal {
  color: var(--neutral-950);
  font-family: var(--text);
  text-align: center;
  font-size: var(--font-2xl);
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.content-card {
  margin-left: var(--spacing-6);
  margin-right: var(--spacing-6);
}

.form-inputs {
  margin-bottom: var(--spacing-8);
  display: flex;
  margin-top: var(--spacing-8);
  flex-direction: column;
  justify-content: center;

  gap: var(--spacing-8);
}

.button-close {
  /* display: flex;
  justify-content: flex-end;
  border: none; */
  max-width: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;

  float: right;
}

.hidden {
  display: none;
}
